In [116]:
import pandas as pd

In [117]:
budget_path = "budget_data.csv"
budget_df0 = pd.read_csv(budget_path)
budget_df0.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [118]:
total_months_calc = budget_df0["Date"].value_counts()
total_months = total_months_calc.sum()
total_months

86

In [119]:
net_total = budget_df0["Profit/Losses"].sum()
net_total

38382578

In [120]:
average = budget_df0["Profit/Losses"].mean()
average

446309.0465116279

In [121]:
budget_df0.groupby(["Date"])
budget_df0["Change on Month"] = budget_df0["Profit/Losses"].diff(periods=1)
budget_df0.head(10)

       Date  Profit/Losses  Change on Month
0  Jan-2010         867884              NaN
1  Feb-2010         984655         116771.0
2  Mar-2010         322013        -662642.0
3  Apr-2010         -69417        -391430.0
4  May-2010         310503         379920.0
5  Jun-2010         522857         212354.0
6  Jul-2010        1033096         510239.0
7  Aug-2010         604885        -428211.0
8  Sep-2010        -216386        -821271.0
9  Oct-2010         477532         693918.0

In [122]:
avg_chg = budget_df0["Change on Month"].mean()

In [123]:
greatest_inc = budget_df0["Change on Month"].max()

In [126]:
budget_df = budget_df0.set_index(["Date"])
budget_df.head()

          Profit/Losses  Change on Month
Date
Jan-2010         867884              NaN
Feb-2010         984655         116771.0
Mar-2010         322013        -662642.0
Apr-2010         -69417        -391430.0
May-2010         310503         379920.0

In [131]:
greatest_inc_dt = budget_df.index[budget_df["Change on Month"] == budget_df["Change on Month"].max()][0]
greatest_inc_dt

'Feb-2012'

In [79]:
greatest_dec = budget_df["Change on Month"].min()

In [134]:
greatest_dec_dt = budget_df.index[budget_df["Change on Month"] == budget_df["Change on Month"].min()][0]
greatest_dec_dt

'Sep-2013'

In [137]:
print("Financial Analysis")
print("-------------------------------")
print("Total Months : $" + str(total_months))
print("Total : $" + str(net_total))
print("Average Change : $" + str(avg_chg))
print("Greatest Increase in Profits : " + str(greatest_inc_dt) + " $" + str(greatest_inc))
print("Greatest Decrese in Profits : " + str(greatest_dec_dt) + " $" + str(greatest_dec))

Financial Analysis
-------------------------------
Total Months : $86
Total : $38382578
Average Change : $-2315.1176470588234
Greatest Increase in Profits : Feb-2012 $1926159.0
Greatest Decrese in Profits : Sep-2013 $-2196167.0