In [6]:
import pandas as pd

In [7]:
poll_path = "PyPoll/election_data.csv"
poll_df = pd.read_csv(poll_path)
poll_df.tail()

         Voter ID County Candidate
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

In [8]:
total_votes = poll_df["Voter ID"].count()
total_votes

3521001

In [9]:
poll_df["Candidate"].unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [10]:
khan_votes = poll_df.loc[poll_df["Candidate"] == "Khan"]
khan_votes.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan
7  14003692  Marsh      Khan

In [20]:
khan_wins = khan_votes["Voter ID"].count()
khan_wins

2218231

In [12]:
correy_votes = poll_df.loc[poll_df["Candidate"] == "Correy"]
correy_votes.head()

    Voter ID County Candidate
1   17444633  Marsh    Correy
6   17775191  Queen    Correy
9   13870173  Marsh    Correy
11  10591158  Bamoo    Correy
14  17845903  Marsh    Correy

In [21]:
correy_wins = correy_votes["Voter ID"].count()
correy_wins

704200

In [14]:
li_votes = poll_df.loc[poll_df["Candidate"] == "Li"]
li_votes.head()

    Voter ID County Candidate
5   19014606  Marsh        Li
37  17094559  Marsh        Li
38  18233965  Marsh        Li
53  16471243  Marsh        Li
54  14671650  Bamoo        Li

In [22]:
li_wins = li_votes["Voter ID"].count()
li_wins

492940

In [16]:
otooley_votes = poll_df.loc[poll_df["Candidate"] == "O'Tooley"]
otooley_votes.head()

     Voter ID County Candidate
46   18121503  Bamoo  O'Tooley
67   19288647  Queen  O'Tooley
157  16672147  Bamoo  O'Tooley
256  11399651  Marsh  O'Tooley
283  12425096  Marsh  O'Tooley

In [23]:
otooley_wins = otooley_votes["Voter ID"].count()
otooley_wins

105630

In [42]:
results_list = {"Candidate": ["Khan", 
                        "Correy", 
                        "Li", 
                        "O'Tooley"],
           "Percentage of Votes Won":["{0:.3f}%".format((khan_wins/total_votes)*100),
                                      "{0:.3f}%".format((correy_wins/total_votes)*100),
                                      "{0:.3f}%".format((li_wins/total_votes)*100),
                                      "{0:.3f}%".format((otooley_wins/total_votes)*100)],
           "Votes Won": ["(" + str(khan_wins) + ")", 
                        "(" + str(correy_wins) + ")", 
                        "(" + str(li_wins) + ")", 
                        "(" + str(otooley_wins) + ")"]}   
results_df = pd.DataFrame(results_list)
results_df.head()

  Candidate Percentage of Votes Won  Votes Won
0      Khan                 63.000%  (2218231)
1    Correy                 20.000%   (704200)
2        Li                 14.000%   (492940)
3  O'Tooley                  3.000%   (105630)

In [54]:
candidates = results_df["Candidate"].unique().tolist()
candidates

['Khan', 'Correy', 'Li', "O'Tooley"]

In [65]:
print("Election Results")
print("--------------------------------")
print("Total Votes : " + str(total_votes))
print("--------------------------------")
print(candidates[0] + " : " + str("{0:.3f}%".format((khan_wins/total_votes)*100)) + " (" + str(khan_wins) + ") ")
print(candidates[1] + " : " + str("{0:.3f}%".format((correy_wins/total_votes)*100)) + " (" + str(correy_wins) + ") ")
print(candidates[2] + " : " + str("{0:.3f}%".format((li_wins/total_votes)*100)) + " (" + str(li_wins) + ") ")
print(candidates[3] + " : " + str("{0:.3f}%".format((otooley_wins/total_votes)*100)) + " (" + str(otooley_wins) + ") ")
print("--------------------------------")
print("Winner : " + results_df["Candidate"].loc[results_df["Percentage of Votes Won"] == results_df["Percentage of Votes Won"].max()].values[0])

Election Results
--------------------------------
Total Votes : 3521001
--------------------------------
Khan : 63.000% (2218231)
Correy : 20.000% (704200)
Li : 14.000% (492940)
O'Tooley : 3.000% (105630)
--------------------------------
Winner : Khan